/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/var/

/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache
/phpunit.xml
/phpstan.neon
/phpspec.yml
/behat.yml
/drivers
