parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false

    level: max

    paths:
        - src
        - tests/Application/src
        - tests/Behat
        - tests/Unit

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
