parameters:
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false

    level: max

    paths:
        - src
        - tests

    excludePaths:
        # Makes PHPStan crash
        - src/DependencyInjection/Configuration.php

        - tests/Application/Kernel.php
        - tests/Application/config/**.php
        - tests/Application/var/**.php
        - tests/Application/node_modules/**.php

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
