{% set order = hookable_metadata.context.resource %}

{% if order.billingAddress is not null and order.billingAddress.vatNumber is not null %}
<div>
    <strong>{{ 'flux_se.sylius_eu_vat.ui.eu_vat_number'|trans }}:</strong>
</div>
<div class="mb-3" {{ sylius_test_html_attribute('billing-address-vat-number') }}>
    {{ order.billingAddress.vatNumber }}
</div>
{% endif %}
