<div class="ui segment">
    <h4 class="ui dividing header">{{ 'flux_se.sylius_eu_vat.ui.european_channel'|trans }}</h4>
    <div class="two fields">
        {{ form_row(form.baseCountry) }}
        {{ form_row(form.europeanZone) }}
    </div>
</div>
